# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments & Secrets
.env
.venv/
env/
venv/
ENV/
*.json.secret
serviceAccountKey*.json

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
.DS_Store
